<div class="container-fluid" *ngIf="weatherForecast">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{weatherForecast.cnt}}-day forecast for {{weatherForecast.city.name}}</h3>
    </div>
    <ul class="list-group">
      <app-forecast-row *ngFor="let forecastRow of weatherForecast.list" [forecastRow]="forecastRow"></app-forecast-row>
    </ul>
  </div>
  <button class="btn btn-success" tabindex="0" id="mainPageBtn" [routerLink]="['/dashboard']">&lt; Back to main
    page</button>
</div>
