<div>
  <div class="well flex" *ngIf="weather">
    <div>
      <h3>{{weather?.name}} ({{zipCode}})</h3>
      <h4>Current conditions: {{weather.weather[0].main}}</h4>
      <h4>Temperatures today:</h4>
      <p> Current {{weather.main.temp}} - Max {{weather.main.temp_max}} - Min {{weather.main.temp_min}} </p>
      <!-- <h3>Rancho Cordova ({{zipCode}})</h3>
      <h4>Current conditions: Clouds</h4>
      <h4>Temperatures today:</h4>
      <p> Current 58 - Max 65 - Min 48 </p> -->
      <p>
        <a [routerLink]="['/forecast', zipCode]">Show 5-day forecast for {{weather.name}}</a>
        <!-- Rancho Cordova -->
      </p>
    </div>
    <div>
      <span class="close" (click)="zipCodeRemoveInitiated.emit(zipCode)">×</span>
      <img [src]="weatherImgLocation" [alt]="weather.weather[0].main">
    </div>
  </div>
</div>
